[Desktop Entry]
Type=Application
Name=ForeverDB Uploader
Comment=Uploads ForeverCollect SavedVariables from World of Warcraft: Forever to ForeverDB
Exec=foreverdb-uploader
Icon=foreverdb-uploader
Terminal=false
Categories=Utility;Game;
Keywords=WoW;World of Warcraft;ForeverCollect;ForeverDB;
StartupWMClass=foreverdb-uploader
